@model ERP.Entity.Category

@{
    ViewBag.Title = "Details";
}

<h2>Kategori Detay</h2>

<div>
   
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedUsername)
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayName(Model.Name)
            </td>
            <td>
                @Html.DisplayName(Model.Description)
            </td>
            <td>
                @Html.DisplayName(Model.CreateOn.ToString())
            </td>
            <td>
                @Html.DisplayName(Model.ModifiedOn.ToString())
            </td>
            <td>
                @Html.DisplayName(Model.ModifiedUsername)
            </td>
            <td></td>
        </tr>
    </table>
        <table class="table">
            <tr>
                <th>
                    Brand
                </th>
                <th>
                    Model
                </th>
                <th>
                    Color
                </th>
                <th>
                    Price
                </th>
                <th>
                    Stock
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>@item.Brand</td>


                    <td>@item.Model</td>


                    <td>@item.Color</td>

                    <td>@item.Price</td>

                    <td>@item.Stock</td>


                    <td>
                        <a href="/Product/Details/@item.Id" class="btn btn-info btn-xs">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
